# macos
.DS_Store
**/.DS_Store

# todo files
*.todo 

# virtual env 
bin/
lib/
venv/
.venv/
env/
*.cfg

# personal folders
presentation/

# python and misc
.pytest_cache
__pycache__
climate_dtr.egg-info
share/
include/